<component name="ArtifactManager">
  <artifact type="war" name="mybatis_generator:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="generator.war">
      <element id="artifact" artifact-name="mybatis_generator:war exploded" />
    </root>
  </artifact>
</component>